body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-38px;
  width:1961px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:422px;
  width:750px;
  height:908px;
  display:flex;
  transition:none;
}
#u916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:908px;
}
#u916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:422px;
  width:1167px;
  height:1303px;
  display:flex;
  transition:none;
}
#u917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:1303px;
}
#u917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:70px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:247px;
  width:421px;
  height:152px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:70px;
}
#u918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:70px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:247px;
  width:561px;
  height:152px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:70px;
}
#u919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1280px;
  width:375px;
  height:50px;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(236, 128, 141, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#333333;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#333333;
}
#u921 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 2px;
  box-sizing:border-box;
  width:100%;
}
#u921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:93px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
}
#u922 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 2px;
  box-sizing:border-box;
  width:100%;
}
#u922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:93px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
}
#u923 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 2px;
  box-sizing:border-box;
  width:100%;
}
#u923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:93px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
}
#u924 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 2px;
  box-sizing:border-box;
  width:100%;
}
#u924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:8px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:8px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:8px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:8px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
