body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-250px;
  width:1654px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:155px;
  width:332px;
  height:671px;
  display:flex;
  transition:none;
}
#u704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:671px;
}
#u704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:155px;
  width:315px;
  height:669px;
  display:flex;
  transition:none;
}
#u705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:669px;
}
#u705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:155px;
  width:299px;
  height:712px;
  display:flex;
  transition:none;
}
#u706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:712px;
}
#u706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:155px;
  width:283px;
  height:749px;
  display:flex;
  transition:none;
}
#u707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:749px;
}
#u707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:1604px;
  top:155px;
  width:300px;
  height:780px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u708 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
