body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-649px;
  width:3818px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:542px;
  width:1823px;
  height:2206px;
  display:flex;
  transition:none;
}
#u681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1823px;
  height:2206px;
}
#u681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:2514px;
  top:534px;
  width:1953px;
  height:2214px;
  display:flex;
  transition:none;
}
#u682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1953px;
  height:2214px;
}
#u682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:70px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:415px;
  width:421px;
  height:152px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:70px;
}
#u683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:70px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:3435px;
  top:382px;
  width:561px;
  height:152px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:70px;
}
#u684 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u684_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
